/* базовый сброс */

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: inherit; */
}

html {
  box-sizing: border-box;
}

/* сброс листам стилизацию */

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container */

.container {
  width: 1130px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Logo */

.logo {
  float: left;
  padding: 32px 0px 32px 0px;
}

h1 {
  margin: 0px;
}

h1 {
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

h1::first-letter {
  font-size: 30px;
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.6px;
}

/* Navigation */

.div_nav {
  float: right;
}

.nav-li {
  display: inline-block;
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  margin-right: 34px;
  padding-top: 42px;
}

.nav-li:last-child {
  margin-right: 0px;
}

.nav-li:hover {
  color: #1abc9c;
}

.slider_buttons {
  position: relative;
}

.slider_title_h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 82px;
}

.slider_description {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: -0.48px;
  line-height: 54px;
  text-transform: uppercase;
}

.slider_element {
  position: relative;
}

.slider_img {
  filter: brightness(52%);
  margin: 0 auto;
}

.slider_buttons {
  width: 1130px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.button_slider_left {
  display: block;
  background-color: rgba(78, 198, 171, 0.65);
  border: none;
  height: 104px;
  width: 104px;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.button_slider_right {
  content: "";
  display: block;
  background-color: rgba(78, 198, 171, 0.65);
  border: none;
  height: 104px;
  width: 104px;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

.button_slider_left:hover,
.button_slider_right:hover {
  background-color: rgba(78, 198, 171, 1);
}

.wrap_description {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
}

/* secton 2 "New Collection" */

.new_collection {
  padding-top: 120px;
  background-color: #e9f0fd;
}

h2 {
  margin-bottom: 10px;
  color: #515151;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
}

.f-prod {
  padding: 0px;
}

.wrap-image {
  width: 255px;
  height: 280px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.h2-title {
  text-align: center;
  margin-bottom: 120px;
}

.h2-title::after {
  content: "";
  display: block;
  border-bottom: 164px solid #1abc9c;
  border-width: 7px;
  width: 200px;
  margin: auto;
  padding-top: 32px;
}

li {
  list-style-type: none;
}

h3 {
  margin: 0px;
}

.product-line {
  background-color: #323232;
  color: #fff;
  height: 40px;
}

.prod {
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
}

.prod:nth-child(4n) {
  margin-right: 0px;
}

.product {
  float: left;
  padding: 12px 0px 12px 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

.prod:hover .product-line {
  background-color: #1abc9c;
}

.product-price {
  float: right;
  margin: 0px;
  color: #ffffff;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

.div_collection {
  background-color: rgb(232, 239, 253);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
}

.prod:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.card_but_left {
  display: inline-block;
  background-color: inherit;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card_but_left:hover,
.card_but_right:hover,
.card_but_center:hover,
.card_but_addbuy:hover {
  background-color: rgba(78, 198, 171, 0.65);
}

.card_but_center {
  display: inline-block;
  background-color: inherit;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card_but_right {
  display: inline-block;
  background-color: inherit;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card_but_addbuy {
  display: inline-block;
  background-color: inherit;
  border: 1px solid white;
  height: 50px;
  width: 158px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  padding-left: 28px;
}

.card_buttons {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* Footer */

.footer {
  width: 100%;
  height: 88px;
  text-align: center;
  margin: 0 auto;
  background-color: #323232;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.all_rights {
  color: #fefefe;
  letter-spacing: -0.32px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 1130px;
  margin: 0 auto;
  padding-top: 30px;
}

.theme_graph {
  color: #46bfa9;
  letter-spacing: -0.32px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  display: inline-block;
}
